form {
  background: var(--background-color);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-input {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  padding: 0.6rem;
  width: 70%;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
}

.btn {
  background: var(--primary-color);
  color: rgb(7, 2, 2);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background 0.3s ease;
}

.btn:hover {
  background: var(--highlight-color);
  transform: scale(1.05);
}
